/* 清除默认样式代码*/  
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input{
margin:0;
padding: 0;
}

/* 边距 */
*{
    box-sizing: border-box;
}
/* 统一字体 */
body{
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei"
    "Hiragino Sans GB","Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}
ul,
ol{
    list-style: none;
}

em,
i{
    font-style: normal;
}

a{
    text-decoration: none;
    color: #333;
}

/* 图片为居中对其 */
img{
    vertical-align: middle;
}
input{
    border: none;
    outline: none;
    color: #333;
}
/* 左右浮动 */
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
